
<html>

  <body>
    <div id="login_app">
      <div style="width:200px">
        <h1>Login App</h1>
      </div>
      <form method="post" action="/login/validate">

        <div id="container">
          <div class="information" style="padding:5px">
            Email <span style="margin-left: 28px">:</span> <input id="email" type="text" name="login[name]" size="30" placeholder="abc@gmail.com" type="text" ><br/>
          </div>
          <div class="information" style="padding:5px ; margin-bottom:5px">
            Password : <input id="password" type="password" name="login[name]" size="30" placeholder="@abc.123" type="text"><br />
          </div>
          <div class="button">
            <button class="btn" type="button" id="btn_in"  style="background:darkgrey">Sign In</button>
            <%= link_to 'Sign Up', new_login_path , :class => "btn", :style => "background:darkgrey" %>
            <span id="forgot" style="cursor:pointer ; padding:27px"><u>Forgot Password?</u></span>
          </div>
        </div>
      </form>  
    </div>
  </body>


  <script>
    $('document').ready(function(){
      

        $("#btn_in").on('click',function(){

          if(!$("#email").val() || !$("#password").val())
            alert("Email/Password required")
          else{
            $.ajax({
              type    : "POST",
              data    : {
                        'email' : $("#email").val(),
                        'password' : $("#password").val()
                        },
              url     : "/login/validate",
              success : function(data){
          
                  if(data["status"]){
                    alert("You are successfully logged in");
                      window.open("/profile","_self")
                  }
                  else
                    alert(data["message"]);
              },
              failure : function(e){
                  console.log("sorry",e.message);
              }
            });
        }
      });

      $("#forgot").on('click',function(){
        
        if($("#email").val()){
            $.ajax({
              type   : "POST",
              data   : data,
              url    : "/send_mail",
              success: function(e){
                alert("mail with new password has been sent to your registered mail id. Please check!");
                window.open("/logins","_self")
              }
            });
        }
        else
          alert("Please enter a valid Email id");
      });

      

      $("#password").keyup(function(event){
        if(event.keyCode == 13)
          $("#btn_in").trigger('click');
      });

    });
  </script>
  <style type="text/css">
  #container{
    margin-left   : 35%;
    margin-bottom : 10%;
    margin-top    : 10%;
  }

  .information{
    margin    : 0 0 10px;
    width     :  312px;
    height    : 38px;
    background: #e5e5e5;
    border-radius: 5px;
  }

  
  </style>

  
</html>





